<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.movie.mapper.CinemaMapper">
  <resultMap id="BaseResultMap" type="com.fang.movie.entity.Cinema">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="cinema_code" jdbcType="VARCHAR" property="cinemaCode" />
    <result column="cinema_address" jdbcType="VARCHAR" property="cinemaAddress" />
    <result column="cinema_phone" jdbcType="VARCHAR" property="cinemaPhone" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cinema_name, cinema_code, cinema_address, cinema_phone, pic_name, area_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from spider_cinema
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from spider_cinema
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fang.movie.entity.Cinema">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spider_cinema (cinema_name, cinema_code, cinema_address, 
      cinema_phone, pic_name, area_code
      )
    values (#{cinemaName,jdbcType=VARCHAR}, #{cinemaCode,jdbcType=VARCHAR}, #{cinemaAddress,jdbcType=VARCHAR}, 
      #{cinemaPhone,jdbcType=VARCHAR}, #{picName,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fang.movie.entity.Cinema">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spider_cinema
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cinemaName != null">
        cinema_name,
      </if>
      <if test="cinemaCode != null">
        cinema_code,
      </if>
      <if test="cinemaAddress != null">
        cinema_address,
      </if>
      <if test="cinemaPhone != null">
        cinema_phone,
      </if>
      <if test="picName != null">
        pic_name,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cinemaName != null">
        #{cinemaName,jdbcType=VARCHAR},
      </if>
      <if test="cinemaCode != null">
        #{cinemaCode,jdbcType=VARCHAR},
      </if>
      <if test="cinemaAddress != null">
        #{cinemaAddress,jdbcType=VARCHAR},
      </if>
      <if test="cinemaPhone != null">
        #{cinemaPhone,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fang.movie.entity.Cinema">
    update spider_cinema
    <set>
      <if test="cinemaName != null">
        cinema_name = #{cinemaName,jdbcType=VARCHAR},
      </if>
      <if test="cinemaCode != null">
        cinema_code = #{cinemaCode,jdbcType=VARCHAR},
      </if>
      <if test="cinemaAddress != null">
        cinema_address = #{cinemaAddress,jdbcType=VARCHAR},
      </if>
      <if test="cinemaPhone != null">
        cinema_phone = #{cinemaPhone,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        pic_name = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fang.movie.entity.Cinema">
    update spider_cinema
    set cinema_name = #{cinemaName,jdbcType=VARCHAR},
      cinema_code = #{cinemaCode,jdbcType=VARCHAR},
      cinema_address = #{cinemaAddress,jdbcType=VARCHAR},
      cinema_phone = #{cinemaPhone,jdbcType=VARCHAR},
      pic_name = #{picName,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listFilmCinema" resultMap="BaseResultMap">
    select sc.id,cinema_name,sc.cinema_code,cinema_address,cinema_phone,pic_name,area_code
    from spider_cinema sc,spider_film_cinema sfc
    where sc.cinema_code = sfc.cinema_code
    and sfc.film_code = #{filmCode}
    <if test="areaCode != -1">
      and sc.area_code = #{areaCode}
    </if>
  </select>

  <select id="queryCienma" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from spider_cinema where cinema_code=#{cinemaCode}
  </select>




</mapper>